<div class="col-md-3 " id="product-<%= product.id %>">
  <div class="item_product">
    <div class="image"><%= link_to (image_tag product.picture.url),product %></div>
    <div class="name"><%= product.name %></div>
    <div class="price"><%= product.price %></div>
  </div>
</div>
