<div class="row">
  <aside class="col-md-4">
    <section class="show_product">
      <%= render @product %>
      <%= link_to t("product.edit_product"), edit_product_path(@product) %>
    </section>
  </aside>
</div>
