<div class="row">
  <aside class="col-md-4">
    <section class="show_product">
      <%= render @product %>
      <%= render "comments/comment_form", product: @product %>
    </section>
  </aside>
</div>
<div id ="comments">
  <%= render @comments %>
</div>
